@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bebas+Neue&family=Bree+Serif&family=Lobster&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --title-font: 'Baloo Bhai 2', cursive;
    --para-font: 'Bebas Neue', cursive;
    --para2-font: 'Bree Serif', serif;
    --primary-color: #427be6;
}

@font-face {
    font-family: 'PriceDown';
    src: url('fonts/pilot-command-font/PilotCommandOutlineItalic-gxGl4.otf');
}

body {
    background-color: azure;
    font-family: var(--para-font);
    color: black;
}

#head {
    text-align: center;
    padding: 10px;
    background-color: rgb(24, 24, 24);
}

#head h1 {
    font-size: 60px;
    font-family: var(--title-font);
    color: var(--primary-color);
    /* text-shadow: 5px 5px 5px black, 4px 4px 10px gray; */
    font-family: 'PriceDown';
    /* color: white; */
    word-spacing: 1rem;
}

#home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

#rule-box {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 35px;
    width: 500px;
    height: auto;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4), -5px -5px 10px rgba(0, 0, 0, 0.4);
}

#rule-box h2 {
    text-align: center;
    padding-bottom: 15px;
}

#rule-box ul li {
    padding-top: 20px;
}

#start-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
}

#start-game h2 {
    font-size: 35px;
}

#start-game button {
    width: 250px;
    height: 90px;
    padding: 10px;
    padding-top: 0px;
    margin: 20px auto;
    font-size: 50px;
    font-family: var(--para2-font);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

#start-game button:hover {
    background-color: black;
    color: white;
    box-shadow: 8px 8px #333;
    transition: 0.5s;
}

#turn {
    height: 100px;
    width: 90vw;
    border: 2px solid black;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

#number-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.numbers {
    border: 1px solid black;
    border-radius: 5px;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 10px;
}

#count-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#btn-number-inc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 30px auto;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 25px;
}

#btn-number-inc:hover {
    cursor: pointer;
}

#btn-number-dec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 30px auto;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 25px;
}

#btn-number-dec:hover {
    cursor: pointer;
}

#btn-done {
    display: block;
    width: 50%;
    margin: 30px auto;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 35px;
}

#btn-done:hover {
    cursor: pointer;
}

#btn-restart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 30px auto;
    height: 60px;
    border: 2px solid black;
    background-color: red;
    border-radius: 10px;
    font-size: 35px;
}

#btn-restart:hover {
    cursor: pointer;
}